



#page {
    height : auto;
    width : 980px;
    margin : 20px auto 0 auto;}


#navi_btns{
    float: right;
    width: 240px;}

#content{
    width: 100%;
    height:auto;
    border-style: solid;
    border-width: 1px;
    border-color: #BEBFBB;
    border-radius: 2px;
    float:left;
}

#inner_content{
    margin : 10px;
    float:left;
}

.i_border{
    padding: 2px;

}

.content_box_inline{
    width:900px;
    height: auto;
    float:left;
    border-right: solid 1px #BEBFBB;
    padding:5px;

}

.social_media_sidebar{
    width:50px;
    height: auto;
    float:right;
}

.social_media_upvote{
    padding: 20px 10px 10px 10px;
    float:right;
}

.social_media_downvote{
    padding: 10px;
    float:right;
}

.social_media_favorite{
    padding: 10px;
    float:right;
}

.content_box{
    height: auto;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #BEBFBB;
    margin-top: 20px;
    float:left;
}





.content_box h2{
    font-size: 14pt;

}

