<!-- form for creating an auction -->

<header-nav></header-nav>
<form name="createAuctionForm" ng-controller="AuktionController">

    <div id="loginForm">
        <h1>Neue Auktion erstellen</h1>
        <input type="text" class="form-control" ng-model="auktionForm.data.bookTitel" name="bookTitel" required required-message="'Yo! This field is required..'" placeholder="Buchtitel">
        <textarea rows="4" cols="50" class="form-control" ng-model="auktionForm.data.description" name="description"   placeholder="Beschreibung" style="margin-top: 10px"></textarea>
        <input type="number" class="form-control" ng-model="auktionForm.data.minPrice" name="minPrice" required-message="'Yo! This field is required..'" required placeholder="Mindestgebot" style="margin-top: 10px">
        <input type="text" class="form-control" ng-model="auktionForm.data.condition" name="condition" required-message="'Yo! This field is required..'" required placeholder="Zustand" style="margin-top: 10px">
        <input type="date" class="form-control" ng-model="auktionForm.data.date" name="date" required-message="'Yo! This field is required..'" required placeholder="Dauer">


        <a href class="btn btn-default btn-sm" ng-model="auktionForm.button" ng-click="auktionForm.createAuction(auktionForm.data)">Auktion anlegen</a>
        <a href class="btn btn-default btn-sm" ng-click="auktionForm.back()">Zurück</a>


</form>


