<div class="container">
    <form editable-form name="editableForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-12" editable-text="modelForm.serviceDiscoveryName" e-placeholder="Service Discovery Name" e-label="Service Discovery Name" e-required>{{ modelForm.serviceDiscoveryName }}</label>
            <div class="col-sm-offset-1 col-sm-8">
                <span editable-text="modelForm.serviceDiscoveryDescription" e-placeholder="Description" e-label="Description" e-name="name" e-required>{{ modelForm.serviceDiscoveryDescription }}</span>
            </div>
        </div>
        <label class="col-sm-12" for="potentialRequirements">Potential Requirements</label>
        <div class="form-group">
            <div ng-repeat="requirement in modelForm.requirementsArray" class="col-sm-offset-1 col-sm-11">
                <span editable-text="modelForm.requirementsArray[$index]" e-placeholder="Requirement 1" e-label="Requirement 1" e-name="name" e-required>
                    {{ requirement }}
                </span>
                <div class="btn btn-sm" ng-click="modelForm.removeRequirement($index)" ng-if="$index > 0">
                    <span class="glyphicon glyphicon-minus"></span>
                </div>
                <span >

                </span>
            </div>
            <div class="col-sm-offset-1 btn btn-sm" ng-click="modelForm.addRequirement(modelForm.requirementsArray.length + 1)">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>

        <label class="col-sm-12" for="designOptions">Design Options</label>
        <!--div class="form-group">
            <div class="col-sm-offset-1 col-sm-8">
                <input type="text" class="form-control" id="designOptions" ng-model="modelForm.designOptions" placeholder="Required" required>
            </div>
        </div-->
        <div class="form-group">
            <div ng-repeat="implication in modelForm.implicationsArray" class="col-sm-offset-1 col-sm-11">
                <span editable-text="modelForm.implicationsArray[$index]" e-placeholder="Implication" e-lable="Implication" e-name="name" e-required>
                    {{ implication }}
                </span>
                <div class="btn btn-sm" ng-click="modelForm.removeImplication($index)" ng-if="$index > 0">
                    <span class="glyphicon glyphicon-minus"></span>
                </div>
                <span >

                </span>
            </div>
            <div class="col-sm-offset-1 btn btn-sm" ng-click="modelForm.addImplication(modelForm.implicationsArray.length + 1)">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
        <div class="form-group">
            <div ng-repeat="addressedRequirement in modelForm.addressedRequirementsArray" class="col-sm-offset-1 col-sm-11">
                    <span editable-text="modelForm.addressedRequirementsArray[$index]" e-placeholder="Addressed Requirements" e-lable="Addressed Requirements" e-name="name" e-required>
                        {{ addressedRequirement }}
                    </span>
                <div class="btn btn-sm" ng-click="modelForm.removeAddressedRequirement($index)" ng-if="$index > 0">
                    <span class="glyphicon glyphicon-minus"></span>
                </div>
                <span >

                </span>
            </div>
            <div class="col-sm-offset-1 btn btn-sm" ng-click="modelForm.addAddressedRequirement(modelForm.addressedRequirementsArray.length + 1)">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
        <div class="form-group">
            <div ng-repeat="affectedGM in modelForm.affectedGMArray" class="col-sm-offset-1 col-sm-11">
                    <span editable-text="modelForm.affectedGMArray[$index]" e-placeholder="Affected Guidance Models" e-lable="Affected Guidance Models" e-name="name" e-required>
                        {{ affectedGM }}
                    </span>
                <div class="btn btn-sm" ng-click="modelForm.removeAffectedGM($index)" ng-if="$index > 0">
                    <span class="glyphicon glyphicon-minus"></span>
                </div>
                <span >

                </span>
            </div>
            <div class="col-sm-offset-1 btn btn-sm" ng-click="modelForm.addAffectedGM(modelForm.affectedGMArray.length + 1)">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
        <div class="form-group">
            <div ng-repeat="requiredComp in modelForm.requiredCompArray" class="col-sm-offset-1 col-sm-11">
                    <span editable-text="modelForm.requiredCompArray[$index]" e-placeholder="Required Components" e-lable="Required Components" e-name="name" e-required>
                        {{ requiredComp }}
                    </span>
                <div class="btn btn-sm" ng-click="modelForm.removeRequiredComp($index)" ng-if="$index > 0">
                    <span class="glyphicon glyphicon-minus"></span>
                </div>
                <span >

                </span>
            </div>
            <div class="col-sm-offset-1 btn btn-sm" ng-click="modelForm.addRequiredComp(modelForm.requiredCompArray.length + 1)">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>


        <label class="col-sm-12" for="relatedGuidanceModels">Related Guidance Models</label>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-8">
                <input type="text" class="form-control" id="relatedGuidanceModels" ng-model="modelForm.relatedGuidanceModels" placeholder="Required" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-6 buttons">

                <!-- button to show editable form -->
                <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit
                </button>


                <!-- buttons to submit(save) / cancel form -->
                <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                         <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      Save
                    </button>
                    <button type="button" class="btn btn-danger" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Cancel
                    </button>
                </span>

                <button class="btn btn-success" ng-click="" ng-show="!editableForm.$visible">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    Publish
                </button>

                <button class="btn btn-danger" ng-click="" ng-show="!editableForm.$visible">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Delete
                </button>
            </div>
        </div>

    </form>



    <!-- NOT FINISHED -> needs more of https://vitalets.github.io/angular-xeditable/#editable-form will be done by Alex E. -> Forms... -->




</div>
