<!-- registration form-->


<form name="myregister" ng-controller="RegisterController">

    <div id="loginForm">
        <h1>Registrierung</h1>
    <input type="text" class="form-control" ng-model="regForm.credentials.username" name="username" required required-message="'Yo! This field is required..'" placeholder="username" style="margin-top: 10px">
    <input type="email" class="form-control" ng-model="regForm.credentials.email" name="email" required required-message="'Yo! This field is required..'" correct-email="" placeholder="email" style="margin-top: 10px">
    <input type="text" class="form-control" ng-model="regForm.credentials.firstName" name="firstname" required-message="'Yo! This field is required..'" required placeholder="firstname" style="margin-top: 10px">
    <input type="text" class="form-control" ng-model="regForm.credentials.lastName" name="lastname" required required-message="'Yo! This field is required..'" placeholder="lastname" style="margin-top: 10px">
    <input type="password" class="form-control" ng-model="regForm.credentials.password" name="password" required required-message="'Yo! This field is required..'" placeholder="password" style="margin-top: 10px">
    <input type="password" class="form-control" ng-model="regForm.credentials.password2" name="password2" required required-message="'Yo! This field is required..'" compare-to="regForm.credentials.password" placeholder="password2" style="margin-top: 10px">

    <a href class="btn btn-default btn-sm" ng-model="regForm.button" ng-disabled="myregister.$invalid" ng-click="regForm.register(regForm.credentials)">Register</a>
    <a href class="btn btn-default btn-sm" ng-click="regForm.back()">Zurück</a>

    </div>


</form>


