<form name="myregister" ng-controller="RegisterController">

    <div id="loginForm">
        <h1>Registrierung</h1>
    <input type="text" class="form-control" ng-model="regForm.credentials.username" name="username" required required-message="'Yo! This field is required..'" placeholder="username">
    <input type="text" class="form-control" ng-model="regForm.credentials.email" name="email" required required-message="'Yo! This field is required..'" correct-email="" placeholder="email">
    <input type="text" class="form-control" ng-model="regForm.credentials.firstName" name="firstname" required-message="'Yo! This field is required..'" required placeholder="firstname">
    <input type="text" class="form-control" ng-model="regForm.credentials.lastName" name="lastname" required required-message="'Yo! This field is required..'" placeholder="lastname">
    <input type="password" class="form-control" ng-model="regForm.credentials.password" name="password" required required-message="'Yo! This field is required..'" placeholder="password">
    <input type="password" class="form-control" ng-model="regForm.credentials.password2" name="password2" required required-message="'Yo! This field is required..'" compare-to="regForm.credentials.password" placeholder="password2">

    <a href class="btn btn-default btn-sm" ng-model="regForm.button" ng-disabled="myregister.$invalid" ng-click="regForm.register(regForm.credentials)">Register</a>
    <a href class="btn btn-default btn-sm" ng-click="regForm.back()">Back</a>

    </div>
    <div ng-show="myregister.password2.$error.compareTo">
        <label class="control-label">Password is Required</label>
    </div>
    <div ng-show="myregister.email.$error.correctEmail">
        <label class="control-label">Email Adress is not valid</label>
    </div>

</form>


